{% extends "navbar.html" %}
{% block content %}
<html>
<head>
</head>
<body>

<table>
  <tr>
    <td><a href="/adminchange/LeafandBean">{{LeafandBean.Title}}</a></td>
  </tr>
  <tr>
    <td>{{LaBarantine.Title}}</td>
  </tr>
  <tr>
    <td>{{ThePod.Title}}</td>
  </tr>
  <tr>
    <td>{{Starbucks.Title}}</td>
  </tr>
  <tr>
    <td>{{Costa.Title}}</td>
  </tr>
  <tr>
    <td>{{ProjectCoffee.Title}}</td>
  </tr>
  <tr>
    <td>{{OrganicDeliciousCafe.Title}}</td>
  </tr>
  <tr>
    <td>{{CafeNero.Title}}</td>
  </tr>
  <tr>
    <td>{{Greggs.Title}}</td>
  </tr>
  <tr>
    <td>{{PieceBox.Title}}</td>
  </tr>
</table>
</body>
</html>

{% endblock %}
