{% extends "navbar.html" %}
{% block content %}
<html>
<head>
</head>
<body>

<table>
  <tr>
    <td><a href="/adminchange/LeafandBean">{{LeafandBean.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/LaBarantine">{{LaBarantine.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/ThePod">{{ThePod.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/Starbucks">{{Starbucks.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/Costa">{{Costa.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/ProjectCoffee">{{ProjectCoffee.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/OrganicDeliciousCafe">{{OrganicDeliciousCafe.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/CafeNero">{{CafeNero.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/Greggs">{{Greggs.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/PieceBox">{{PieceBox.Title}}</a></td>
  </tr>
</table>
</body>
</html>

{% endblock %}
