{% extends "navbar.html" %}
{% block content %}
<html>
<head>
<style>
  body{
    background-image: url("/static/images/brownbackground.jpg");
  }
  td{
    font-size: 125%;
  }
  p{
    font-size: 150%;
  }
</style>
</head>
<body>
<p>All Coffee Shops</p>
<table>
  <tr>
    <td><a href="/adminchange/LeafandBean">{{LeafandBean.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/LaBarantine">{{LaBarantine.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/ThePod">{{ThePod.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/Starbucks">{{Starbucks.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/Costa">{{Costa.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/ProjectCoffee">{{ProjectCoffee.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/OrganicDeliciousCafe">{{OrganicDeliciousCafe.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/CafeNero">{{CafeNero.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/Greggs">{{Greggs.Title}}</a></td>
  </tr>
  <tr>
    <td><a href="/adminchange/PieceBox">{{PieceBox.Title}}</a></td>
  </tr>
</table>
</body>
</html>

{% endblock %}
