{% extends "navbar.html" %}
{% block content %}
<html>
<head>
</head>

<body>
<table>
<form method="POST">
<caption>{{var1.Title}}</a></caption>
  <tr>
    <th>Coffees</th>
    <th colspan="3">Prices</th>
  </tr>
  <tr>
    <td></td>
    <td>Regular</td>
    <td>Medium</td>
    <td>Large</td>
  </tr>
  <tr>
    <td>Espresso</td>
    <td><input type="text" name="Espresso" value="{{var1.Espresso}}"</td>
    <td><input type="text" name="EspressoMedium" value="{{var1.EspressoMedium}}"</td>
    <td><input type="text" name="EspressoLarge" value="{{var1.EspressoLarge}}"</td>
  </tr>
  <tr>
    <td>Americano</td>
    <td><input type="text" name="Americano" value="{{var1.Americano}}"</td>
    <td><input type="text" name="AmericanoMedium" value="{{var1.AmericanoMedium}}"</td>
    <td><input type="text" name="AmericanoLarge" value="{{var1.AmericanoLarge}}"</td>
  </tr>
  <tr>
    <td>Latte</td>
    <td><input type="text" name="Latte" value="{{var1.Latte}}"</td>
    <td><input type="text" name="LatteMedium" value="{{var1.LatteMedium}}"</td>
    <td><input type="text" name="LatteLarge" value="{{var1.LatteLarge}}"</td>
  </tr>
  <tr>
    <td>Cappuccino</td>
    <td><input type="text" name="Cappuccino" value="{{var1.Cappuccino}}"</td>
    <td><input type="text" name="CappuccinoMedium" value="{{var1.CappuccinoMedium}}"</td>
    <td><input type="text" name="CappuccinoLarge" value="{{var1.CappuccinoLarge}}"</td>
  </tr>
  <tr>
    <td>Mocha</td>
    <td><input type="text" name="Mocha" value="{{var1.Mocha}}"</td>
    <td><input type="text" name="MochaMedium" value="{{var1.MochaMedium}}"</td>
    <td><input type="text" name="MochaLarge" value="{{var1.MochaLarge}}"</td>
  </tr>
  <tr>
    <td>Flat White</td>
    <td><input type="text" name="FlatWhite" value="{{var1.FlatWhite}}"</td>
    <td><input type="text" name="FlatWhiteMedium" value="{{var1.FlatWhiteMedium}}"</td>
    <td><input type="text" name="FlatWhiteLarge" value="{{var1.FlatWhiteLarge}}"</td>
  </tr>
  <tr>
    <td>Hot Chocolate</td>
    <td><input type="text" name="HotChocolate" value="{{var1.HotChocolate}}"</td>
    <td><input type="text" name="HotChocolateMedium" value="{{var1.HotChocolateMedium}}"</td>
    <td><input type="text" name="HotChocolateLarge" value="{{var1.HotChocolateLarge}}"</td>
  </tr>
  <tr>
  </tr>
  <tr>
    <th>Teas</th>
    <th colspan="3"></th>
  </tr>
  <tr>
    <td>English Breakfast</td>
    <td><input type="text" name="EnglishBreakfast" value="{{var1.EnglishBreakfast}}"</td>
  </tr>
  <tr>
    <td>Earl Grey</td>
    <td><input type="text" name="EarlGrey" value="{{var1.EarlGrey}}"</td>
  </tr>
</table>

<table>
  <tr>
    <th colspan="3">Opening Times</th>
  </tr>
  <tr>
    <td></td>
    <td>Open</td>
    <td>Closed</td>
  </tr>
    <td>Monday</td>
    <td><input type="text" name="MondayO" value="{{var1.MondayO}}"</td>
    <td><input type="text" name="MondayC" value="{{var1.MondayC}}"</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td><input type="text" name="TuesdayO" value="{{var1.TuesdayO}}"</td>
    <td><input type="text" name="TuesdayC" value="{{var1.TuesdayC}}"</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td><input type="text" name="WednesdayO" value="{{var1.WednesdayO}}"</td>
    <td><input type="text" name="WednesdayC" value="{{var1.WednesdayC}}"</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td><input type="text" name="ThursdayO" value="{{var1.ThursdayO}}"</td>
    <td><input type="text" name="ThursdayC" value="{{var1.ThursdayC}}"</td>
  </tr>
  <tr>
    <td>Friday</td>
    <td><input type="text" name="FridayO" value="{{var1.FridayO}}"</td>
    <td><input type="text" name="FridayC" value="{{var1.FridayC}}"</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td><input type="text" name="SaturdayO" value="{{var1.SaturdayO}}"</td>
    <td><input type="text" name="SaturdayC" value="{{var1.SaturdayC}}"</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td><input type="text" name="SundayO" value="{{var1.SundayO}}"</td>
    <td><input type="text" name="SundayC" value="{{var1.SundayC}}"</td>
  </tr>
</table>
<input type="submit" value="Approve Changes">
</form>

</body>
</html>
{% endblock %}
