{% extends "navbar.html" %}
{%block content%}
<html>
<head>
<style>
  img {
    display: block;
  }
  table {
    table-layout: fixed;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
   th, td, tr {
    border: 1px solid black;
    width: 301px;
    text-align: center;
    background-color: #fff;
    }
  th {
    background-color: #333333; 
    color: #337AB7;
  }
  body{
    background-image: url("/static/images/brownbackground.jpg");
  }
</style>
</head>

<body>
<table>
  <tr>
    <td rowspan="2"><a href="/leafandbean"><img height="210" width="300" src="{{LeafandBean.Image}}"></a></td>
    <th><a href="/leafandbean">{{LeafandBean.Title}}</a></th>
    <th><a href="{{LeafandBean.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Leaf+%26+Bean/@55.924805,-3.2121436,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c7122d482d1f:0x2962a8297a799d58!8m2!3d55.924805!4d-3.209955">{{LeafandBean.Address}}</a></td>
    <td><img src="{{LeafandBean.Review}}"></td>
  </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/labarantine"><img height="210" width="300" src="{{LaBarantine.Image}}"></a></td>
    <th><a href="/labarantine">{{LaBarantine.Title}}</a></th>
    <th><a href="{{LaBarantine.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/La+Barantine/@55.9359547,-3.2120558,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c70bb4ddc8e3:0xc232c51207b0f970!8m2!3d55.9359547!4d-3.2098671">{{LaBarantine.Address}}</a></td>
    <td><img src="{{LaBarantine.Review}}"></td>
 </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/thepod"><img height="210" width="300" src="{{ThePod.Image}}"></a></td>
    <th><a href="/thepod">{{ThePod.Title}}</a></th>
    <th><a href="{{ThePod.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/The+Pod/@55.9374058,-3.2092089,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c70a94cfbb69:0x5d1f9b348728a863!8m2!3d55.9374058!4d-3.2070202">{{ThePod.Address}}</a></td>
    <td><img src="{{ThePod.Review}}"></td>
  </tr>  
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/starbucks"><img height="210" width="300" src="{{Starbucks.Image}}"></a></td>
    <th><a href="/starbucks">{{Starbucks.Title}}</a></th>
    <th><a href="{{Starbucks.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Starbucks+Coffee/@55.9340327,-3.2132552,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c70be562ec25:0x908ba851a820fddc!8m2!3d55.9340327!4d-3.2110665">{{Starbucks.Address}}</a></td>
    <td><img src="{{Starbucks.Review}}"></td>
  </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/costa"><img height="210" width="300" src="{{Costa.Image}}"></a></td>
    <th><a href="/costa">{{Costa.Title}}</a></th>
    <th><a href="{{Costa.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Costa+Coffee/@55.9339134,-3.2126384,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c70c34f135dd:0xa8f383bc0ddbc063!8m2!3d55.9339134!4d-3.2104497">{{Costa.Address}}</a></td>
    <td><img src="{{Costa.Review}}"></td>
  </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/projectcoffee"><img height="210" width="300" src="{{ProjectCoffee.Image}}"></a></td>
    <th><a href="/projectcoffee">{{ProjectCoffee.Title}}</a></th>
    <th><a href="{{ProjectCoffee.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Project+Coffee/@55.9360286,-3.2117932,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c70a4cbe2b4f:0x83b91a73f7f9a3fa!8m2!3d55.9360286!4d-3.2096045">{{ProjectCoffee.Address}}</a></td>
    <td><img src="{{ProjectCoffee.Review}}"></td>
 </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/organicdeliciouscafe"><img height="210" width="300" src="{{OrganicDeliciousCafe.Image}}"></a></td>
    <th><a href="/organicdeliciouscafe">{{OrganicDeliciousCafe.Title}}</a></th>
    <th><a href="{{OrganicDeliciousCafe.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Organic+Delicious+Cafe/@55.9332303,-3.2124637,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c70bf58f8703:0x68cdef646850462!8m2!3d55.9332303!4d-3.210275">{{OrganicDeliciousCafe.Address}}</a></td>
    <td><img src="{{OrganicDeliciousCafe.Review}}"></td>
 </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/cafenero"><img height="210" width="300" src="{{CafeNero.Image}}"></a></td>
    <th><a href="/cafenero">{{CafeNero.Title}}</a></th>
    <th><a href="{{CafeNero.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Caff%C3%A8+Nero/@55.9291139,-3.2115722,17z/data=!4m5!3m4!1s0x4887c70db8f33585:0x2f4f6c7ed69f2369!8m2!3d55.9291138!4d-3.2093838">{{CafeNero.Address}}</a></td>
    <td><img src="{{CafeNero.Review}}"></td>
  </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/greggs"><img height="210" width="300" src="{{Greggs.Image}}"></a></td>
    <th><a href="/greggs">{{Greggs.Title}}</a></th>
    <th><a href="{{Greggs.TripAdvisor}}">TripAdvisor</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Greggs/@55.935967,-3.2093701,18.5z/data=!4m5!3m4!1s0x4887c70a4b5f5029:0xdeb90cd665ec0dd9!8m2!3d55.9360185!4d-3.2097365">{{Greggs.Address}}</a></td>
    <td><img src="{{Greggs.Review}}"></td>
 </tr>
</table>
<table>
  <tr>
    <td rowspan="2"><a href="/piecebox"><img height="210" width="300" src="{{PieceBox.Image}}"></a></td>
    <th><a href="/piecebox">{{PieceBox.Title}}</a></th>
    <th><a href="{{PieceBox.TripAdvisor}}">TripAdvisor Review</a></th>
  </tr>
  <tr>
    <td><a
    href="https://www.google.co.uk/maps/place/Piecebox/@55.9377677,-3.2186431,17z/data=!3m1!4b1!4m5!3m4!1s0x4887c70830382c23:0xd6ec6c05f4268410!8m2!3d55.9377677!4d-3.2164544">{{PieceBox.Address}}</a></td>
    <td><img src="{{PieceBox.Review}}"></td>
  </tr>
</table>
</body>
</html>
{% endblock %}
